.benefits {
	background: var(--black-900, #0a0a0a);
	height: 100%;
	padding: 136px 0px;
	overflow: hidden;
	position: relative;
}

.benefits-container {
	background-image: url('../../../assets/benefitsCircle.png');
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	display: flex;
	padding: 0px 40px;
	flex-direction: column;
	align-items: flex-start;
	gap: 56px;
	align-self: stretch;
}

.benefits-title {
	color: var(--white-900, #fafafa);

	/* h2 */
	font-family: 'Open Sans';
	font-size: 40px;
	font-weight: 400;
	line-height: 120%; /* 48px */
}

.benefits-title2 {
	background: var(
		--primary-gradient,
		linear-gradient(90deg, #78e7fe 0%, #4375fb 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.benefits-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
	align-self: stretch;
	width: 100%;
}

.benefits-slider {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: self-end;
	gap: 40px;
	flex: 1 0 0;
}

.benefit {
	z-index: 4;
	position: relative;
	display: flex;
	width: 660px;
	padding: 16px 120px 16px 80px;

	align-items: center;
	gap: 48px;
	border-radius: 80px;
	border: 1px solid var(--dark-oxford-blue-1, #111319);
	opacity: 0.4;
	background: var(
		--dark-oxford-blue-3,
		linear-gradient(270deg, #0a0a0a 0%, #101b2c 100%)
	);
	height: 33%;
	overflow-y: hidden;
}

.benefit-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
}

.benefit-title {
	color: var(--oxford-blue-300, #abaecd);

	/* text L */
	font-family: 'Open Sans';
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 38.4px */
}

.benefit-subtitle {
	color: var(--oxford-blue-400, #7c92b8);

	/* text M */
	font-family: 'Open Sans';
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 33.6px */
	width: 450px;
}

.benefits-slider {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 485px;
	overflow: hidden;
}

.benefit {
	display: flex;
	align-items: center;
	height: 90px;
	justify-content: flex-start;
	width: 600px;
	opacity: 0;
	transition: all 0.5s ease;
	transform: translateX() translateY(100%);
	position: absolute;
}

.benefit.active {
	padding: 32px 120px 32px 80px;
	opacity: 1;
	box-shadow: 0px 0px 18px 0px rgba(52, 75, 109, 0.8);
	transform: scale(0.9) translateX(-5%) translateY(90%);
	position: relative;
	z-index: 3;
}

.benefit.previous {
	opacity: 0.5;
	transform: scale(0.9) translateY(0%);
	z-index: 2;
}

.benefit.next {
	opacity: 0.7;
	transform: scale(0.9) translateY(255%);
	z-index: 2;
}

.benefit.last {
	opacity: 0.3;
	transform: scale(0.9) translateY(365%);
	z-index: 1;
}

.benefit.hidden {
	opacity: 0;
	transform: scale(0.9) translateY(90%);
	z-index: 1;
}

.benefit-iconMob {
	display: none;
}

@media (min-width: 1600px) {
	.benefit {
		width: 600px;
	}

	.benefits-circle {
		left: 0;
	}

	.benefits-main {
		justify-content: end;
	}

	.benefits-img {
		margin-left: 0;
	}
}

@media (max-width: 1200px) {
	.benefit-title {
		font-size: 20px;
	}

	.benefit-subtitle {
		font-size: 18px;
	}

	.benefits-title {
		font-size: 35px;
	}

	.benefit {
		padding: 16px 80px;
		width: 500px;
		height: 100px;
		border-radius: 54px;
	}

	.benefits-slider {
		height: 500px;
	}

	.benefit.active {
		padding: 20px 80px;
		opacity: 1;
		box-shadow: 0px 0px 18px 0px rgba(52, 75, 109, 0.8);
		transform: scale(0.9) translateX(-5%) translateY(110%);
		position: relative;
		z-index: 3;
	}
	.benefit.next {
		opacity: 0.7;
		transform: scale(0.9) translateY(240%);
		z-index: 2;
	}

	.benefit.last {
		opacity: 0.3;
		transform: scale(0.9) translateY(350%);
		z-index: 1;
	}

	.benefit-subtitle {
		width: 100%;
	}

	.benefits-circle {
		width: 60%;
	}
}

@media (max-width: 1000px) {
	.benefits-img {
		margin-left: -30%;
	}

	.benefits-container {
		padding: 0px 30px;
		gap: 40px;
	}

	.benefit {
		gap: 30px;
		padding: 16px 60px;
		width: 400px;
	}
	.benefit.above {
		opacity: 0.5;
		transform: translateX(-10%) translateY(-120%);
		z-index: 2;
	}

	.benefit.below {
		opacity: 0.5;
		transform: translateX(-10%) translateY(120%);
		z-index: 2;
	}

	.benefits {
		padding: 100px 0px;
	}
}

@media (max-width: 900px) {
	.benefits-container {
		background-image: url('../../../assets/benefitsCircleMob.png');
	}

	.benefit {
		padding: 16px 20px;
	}

	.benefit-icon svg {
		width: 40px;
		height: 40px;
	}

	.benefit.active {
		padding: 20px 40px;
		opacity: 1;
		box-shadow: 0px 0px 18px 0px rgba(52, 75, 109, 0.8);
		transform: scale(0.9) translateX(-5%) translateY(110%);
		position: relative;
		z-index: 3;
	}
	.benefit.next {
		opacity: 0.7;
		transform: scale(0.9) translateY(240%);
		z-index: 2;
	}

	.benefit.last {
		opacity: 0.3;
		transform: scale(0.9) translateY(350%);
		z-index: 1;
	}
}

@media (max-width: 700px) {
	.benefit {
		height: 80px;
	}
	.benefit-iconMob {
		display: flex;
	}
	.benefit-icon {
		display: none;
	}

	.benefit-title {
		font-size: 18px;
	}

	.benefits-slider {
		height: 430px;
	}

	.benefit-subtitle {
		font-size: 16px;
	}

	.benefits {
		padding: 68px 0px;
	}

	.benefit {
		padding: 16px 30px;
		width: 350px;
	}

	.benefits-title {
		font-size: 30px;
	}

	.benefits-circle {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.benefits-title {
		font-size: 22px;
	}
	.benefits-slider {
		height: 370px;
	}
	.benefit {
		width: 280px;
		gap: 8px;
		padding: 8px 12px;
		height: 80px;
	}

	.benefit-icon svg {
		width: 40px;
		height: 40px;
	}

	.benefit.active {
		padding: 20px 16px;
		opacity: 1;
		box-shadow: 0px 0px 8px 0px rgba(52, 75, 109, 0.8);
		transform: scale(0.9) translateX(4%) translateY(90%);
		position: relative;
		z-index: 3;
	}

	.benefit.previous {
		opacity: 0.5;
		transform: scale(0.9) translateX(12%) translateY(0%);
		z-index: 2;
	}

	.benefit.next {
		opacity: 0.7;
		transform: scale(0.9) translateX(12%) translateY(250%);
		z-index: 2;
	}

	.benefit.last {
		opacity: 0.3;
		transform: scale(0.9) translateX(12%) translateY(360%);
		z-index: 1;
	}

	.benefit-title {
		font-size: 16px;
	}

	.benefit-subtitle {
		font-size: 14px;
	}

	.benefit-subtitle {
		width: 210px;
	}

	.benefits-container {
		padding: 0px 20px;
	}
}
