.terms {
	height: 100%;
}

.terms-container {
	display: flex;

	flex-direction: column;
	align-items: center;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	align-self: stretch;
}

.terms-title2 {
	color: #afadbb;

	/* text L */
	font-family: 'Open Sans';
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 38.4px */
}

.terms-title {
	color: #afadbb;

	/* text L */
	font-family: 'Open Sans';
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 120%; /* 38.4px */
}

.terms-text {
	color: #afadbb;

	/* text XS */
	font-family: 'Open Sans';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 21px */
}

.terms-subtitle2 {
	color: #afadbb;

	/* text S */
	font-family: 'Open Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 24px */
}

.terms-subtitle {
	color: #afadbb;

	/* text M */
	font-family: 'Open Sans';
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 33.6px */
}

.terms-texts-top {
	display: flex;
	gap: 12px;
	flex-direction: column;
}

.terms-top {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-self: stretch;
}

.terms-texts {
	display: flex;
	gap: 10px;
	flex-direction: column;
}

.terms-top ul {
	margin: 0;
	padding-inline-start: 20px;
}

@media (max-width: 1000px) {
	.terms-container {
		padding: 40px 40px;
	}
}

@media (max-width: 600px) {
	.terms-container {
		padding: 20px 20px;
	}

	.terms-title2 {
		font-size: 30px;
		width: 300px;
	}

	.terms-title {
		font-size: 22px;
		width: 300px;
	}

	.terms-subtitle2 {
		font-size: 16px;
	}

	.terms-subtitle {
		font-size: 20px;
	}
}
